<!DOCTYPE html>

<html>
    <head>
            <title>About</title>
            <link rel="icon" href="/css/download.png">
            <link rel = "Stylesheet" href = "/css/styles.css">
    </head>

    <body>
        {{>header}}
        </body>
</html>
