<!DOCTYPE html>

<html>
    <head>
            <title>Help</title>
            <link rel="icon" href="/css/download.png">
            <link rel = "Stylesheet" href = "/css/styles.css">
    </head>

    <body>
        <h1>{{title}}</h1>

<header>
    <a href = "/">{{Home}}</a>
    <a href = "/about">{{About}}</a>
    <a href = "/help">{{Help}}</a>
</header>
        <p><br>Head to the home page and search for the place, in the search bar, whose weather you'd like to view. 
            <br><br>Basically, search results for any place can be attained just in a couple of seconds.
             </p>
        
    </body>
</html>
