<!doctype html>
<html>
    <head>
        <title>404 error page</title>
        <link rel="Stylesheet" href = "/css/styles.css">
    </head>
    <body>
        {{>header}}
        <p>{{error}}</p>
        {{>footer}}
    </body>
</html>