<!DOCTYPE html>

<html>
    <head>
            <title>Help</title>
            <link rel="icon" href="/css/download.png">
            <link rel = "Stylesheet" href = "/css/styles.css">
    </head>

    <body>
        {{>header}}
        <p>{{body}}</p>
        
    </body>
</html>
