<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/home/shashankvijay/Desktop/Node/web_server/Public/css/download.png">
        <link rel = "Stylesheet" href = "/css/styles.css">

    </head>

    <body>
       {{>header}}
       
           <form>
                <input  placeholder='Location'>
                <button>Search</button>
               
            </form>  
            <div class='transbox'>
            <p id ="msg1"></p>  
            <p id ="msg2"></p>
            </div>
         <script src = '/JS/random.js'></script>
    </body>
   
</html>
